.next
dist
out
node_modules
.npm-cache
.DS_Store
npm-debug.log*
*.tgz
*-source.zip
upload
.env.local
.vercel
public/**/MBY.mp4
public/MBY.mp4
public/house-of-retrievers-hero-1080p-old.mp4
public/**/*.JPEG
public/purpaws*.JPEG
.env*
!.env.example
